[submodule "hi_robotics"]
	path = hi_robotics
	url = https://github.com/Techolution/hi_robotics
[submodule "RAIT"]
	path = RAIT
	url = https://github.com/TecholutionSRD/RAIT
[submodule "Realtime-WebRTC"]
	path = Realtime-WebRTC
	url = https://github.com/TecholutionSRD/Realtime-WebRTC

